.NavBar {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    color: pink;
  }
  
  .NavBar-link {
    margin: 0 10px;
  }
  
  .NavBar-welcome {
    color: pink;
  }

  a {
    color: pink;
  }