.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: pink;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.myGame {
  display: block;
  align-content: center;
  margin: auto;
  border: 2px solid limegreen;
}

.board {
  display: flex;
  align-content: center;
  margin: auto;
  border: 10px solid black;
}

div.myGame {
  width: 50%;
  display: flex;
  margin: auto;
}
* {
  background-color: darkslategray;
}

h1, h4 {
  color: cyan;
}

p {
  font-size: 20px;
  color:yellow;
}